.git
.gitignore
.vscode
.env
db.sqlite3
media/
static_files/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
poetry.lock
README.md
Project_Summary_Report.md
